.theme-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    color: $black;
    background-color: $primary-color-2;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    z-index: 0;
    text-transform: uppercase;
    font-size: 11px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0);

    &:before,
    &:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-color: $primary-color-2;
        transition: 0.3s;
        z-index: -1;
        top: 0;
        left: -50%;
        transform: rotate(-55deg) translateY(-50px);
        transform-origin: center center;
    }

    &:after {
        top: 25px;
        left: auto;
        transform: rotate(-55deg) translateY(50px);
        right: -50%;
    }

    &:focus {
        color: $black;
        outline: none;
        text-decoration: none;
    }

    &:hover {
        color: $white;
        text-decoration: none;
        background-color: $primary-color-1;
        box-shadow: inset 0 0 0 1px rgba($primary-color-2, 0.3);

        &:before {
            transform: rotate(-55deg) translateY(-5px);
        }

        &:after {
            transform: rotate(-55deg) translateY(-10px);
        }
    }
}