.theme-input {
    position: relative;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: 0.5s;
    &:focus {
        outline: none;
        border-color: $primary-color-1;
    }
}