.heading-two {
    position: relative;
    margin: 0 0 15px;
    color: $white;
    font-size: 38px;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: $theme-font;
}

.body-copy {
    position: relative;
    margin: 0 0 15px;
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.5s;
    font-family: $theme-font;
}