// Colors
$primary-color-1        :#722a2b;
$primary-color-2        :#edf2f6;
$primary-color-3        :#f56565;
$black                  :#000;
$white                  :#FFF;

//Fonts
$theme-font             :'Open Sans';