.pokemon-profile {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;

    .profile-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        .profile-inner-image {
            max-width: 100%;
        }
    }

    .profile-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.2);

        .profile-name {
            color: $black;
            text-transform: capitalize;
            font-size: 24px;
            font-family: $theme-font;
        }

        .profile-body {
            color: rgba($black, 0.4);
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 15px;
            font-family: $theme-font;

            &.heading {
                font-size: 24px;
            }
        }

        .ability-each {
            color: rgba($black, 0.8);
            font-weight: 600;
            padding: 5px 10px;
            background-color: $primary-color-2;
            margin: 0 5px 5px 0;
            border-radius: 10px;
            font-size: 14px;
            position: relative;
            display: inline-block;
            font-family: $theme-font;
            text-transform: capitalize;
        }
    }
}