.pokemon-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .pokemon-list-item {
        display: block;
        width: 100%;
        position: relative;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
        @for $i from 1 to 100 {
            &:nth-child( #{$i} ) {
                animation-delay: $i * 0.05s;
            }
        }
    }
    .pokemon-list-item-button {
        display: block;
        width: 100%;
        position: relative;
        margin: 0 0 15px;
        font-family: $theme-font;
    }
}

.pokemon-list-pagination {
    display: flex;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    .pagination-list-item {
        .pagination-button {
            background-color: $primary-color-3;
            color: $white;
            padding: 10px 30px;
            font-size: 16px;
            border: none;
            transition: 0.5s;
            border-radius: 5px;
            font-family: $theme-font;
            &:hover {
                background-color: $white;
                color: $primary-color-1;
            }
            &:focus {
                outline: none;
            }
        }
    }
}